:root {
    --background: rgb(17, 17, 17);
    --nav : rgba(17, 17, 17, 0.829);
    --borde: rgb(38, 38, 38);
    --hr : rgb(83, 83, 83);
    --text : rgb(136, 136, 136);
    --selection : rgba(255, 255, 255, 0.673);
    --hover1: rgb(226, 226, 226);
    --hover2: rgb(196, 196, 196);
}


body {
    max-width: 900px;
    margin: auto;
    background-color: var(--background);
    padding: 0 20px;
   
}

h2 {
    font-weight: 400;
    margin: 50px 0;
}


b {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.801);
}

.talk {
    margin: 20px 0;
}

.talk a {
    text-decoration: none;
    font-weight: 500;
}

form {
    margin-top: 50px;
}


input {
    width: 100%;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--borde);
    margin: 20px 0;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 18px;
    color: var(--selection);
}

input:focus {
    outline: none;
}

::placeholder {
    font-size: 18px;
    color: var(--selection);
}


textarea {
    resize: none;
    border: none;
    border-bottom: 1px solid var(--borde);
    background-color: var(--background);
    width: 100%;
    margin: 20px 0;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 18px;
    color: var(--selection);
    height: 350px;
}

textarea:focus {
    outline: none;
}


textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-track {
    background-color: var(--borde);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--hover2);
    border-radius: 20px;
}

#btn {
    margin: 60px 0;
    background-color: var(--text);
    padding: 10px 0;
    color: var(--background);
    border-radius: 20px;
}

@media (max-width: 600px) {
    .contact {
        display: none;
    }
}